

header, footer, sidebar, sidebarMobile, #printButton {
	display:                           none;
}

html {
	margin:                            0px;
	padding:                           0px;
}

body {
	margin:                            0px;
	padding:                           0px;
}

@page {
    size:                              letter;
    margin:                            0px;
    margin-top:                        2cm;
    padding:                           0px;
}
#contactInfo {
	font-size:                         85%;
	color:                             black;	
}

.blogContent {
	color:                             black;
	font-size:                         100%;
}