

header, footer, sidebar, sidebarMobile, #printButton {
	display:                           none;
}

@page {
    size:                              auto;
}
#contactInfo {
	font-size:                         85%;
	color:                             black;
	
}

.blogContent {
	margin-top:                        30px;
	color:                             black;
	font-size:                         100%;
}