body {
	font-size:                         80%;
}

#sidebar {
	display:                           none;
}

#sidebarMobile {
	display:                           none;
}

div.blogContent {
	padding-top:                       20px;
	margin-left:                       10%;
	margin-right:                      10%;	
}

.blogContent h3, h2, h1, p, ul {
	margin:                            0;
}

.blogContent h2 {
    margin-top:                        10px;
}

.blogContent ul {
	margin-bottom:                     10px;
}

.blogContent {
	font-size:                         130%;
}

#sidebar {
	display:                           none;
}

#resumeHeader {
	margin:                            auto;
	text-align:                        center;
}

#contactInfo {
	padding:                           0;
	margin:                            0;
	margin-top:                        0px;
	margin-bottom:                     5px;
	font-size:                         70%;
}

#printButton {
	margin-top:                        15px;
	margin-right:                      25px;
	margin-bottom:                     0px;
	text-align:                        right;
	text-decoration:                   underline;
}


@media only screen and (max-width:480px) {
    .blogContent {
        font-size:                         70%;
    }
    
    #sidebar, #sidebarMobile, .divider#sideBarMobileDivider {
        display:                           none;
    }
}